{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}

<section class="forgot-password">
    <div class="forgot-password-container">
        <div class="forgot-password-detail">
            <p><span>Note:</span> A Password reset link will be sent to the E-mail of the affected account</p>

            <form action="" method="post">
                <input type="text" class="form-insert fg" name="" placeholder="Enter Email here">

                <button type="submit" class="buy-btn fg-btn">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}