{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}

<section class="password-reset">
    <div class="password-reset-container">
        <div class="password-reset-head">
            <h1>Passsword Reset</h1>
        </div>
        <form action="" method="" class="password-reset-form">
            <input type="password" class="form-slide pr" name="old_password" placeholder="Enter Old Password">
            <input type="password" class="form-slide pr" name="new_password1" placeholder="Enter New Password">
            <input type="password" class="form-slide pr" name="new_password2" placeholder="Confirm New Password">
            <button type="submit" class="buy-btn">Submit</button>
        </form>
    </div>
</section>

{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}